:root {
    --mustard: #FFDE59;
    --red: #FF0000;
    --black: #000;
    --wine-red: #9A0404;
    --oswald: 'Oswald', sans-serif;
    --primary: #ec994b;
    --white: #ffffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    background-color: var(--mustard);
    z-index: 1000;
}

.logo {
  justify-content: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: var(--red);
    font-size: 22px; 
    padding: 0 15px;
    font-family: var(--oswald);
}

.header_button {
    position: relative;
    padding-bottom: 5px;
}

.header_button::after {
    color: var(--wine-red);
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 100%;
    left: 0;
    background-color: var(--red);
    transition: all 0.3s ease-in-out;
    transition-timing-function: ease-in-out;
    transform: scale(0);
}

.header_button:hover::after {
    transform: scale(1);
}

.ordernow_button {
    background-color: var(--red);
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.ordernow_button.glow {
    box-shadow: 0 0 10px var(--red);
}
/* END OF HEADER STYLING */

/* CHECKOUT A STYLING */
.cons {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

h2, h3, h4 {
    margin-bottom: 10px;
}

.order-box {
    display: flex;
    align-items: center;
    background: #fafafa;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    width: 100%;
    height: 90px;
}

.order-box img {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    margin-right: 10px;
}

.order-box .details {
    flex: 1;
}

.price {
    font-size: 18px;
    font-weight: bold;
}


.total-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    
}

.dates {
    display: flex;
    gap: 10px;
    margin: 20px auto;
    justify-content: center;
    width: 100%;
}

.date-item {
    border: 1px solid #bbb;
    border-radius: 6px;
    width: 110px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background: white;
    font-size: 30px;

}

.date-item input {
    display: none;
}

.date-item span {
    display: block;
    font-size: 13px;
    line-height: 1.3em;
}

.date-item b {
    font-size: 22px;
}

.date-item input:checked + span {
    background: #f7d24c;
    color: #000;
    border-radius: 6px;
    font-weight: bold;
}

.time-select {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px 0;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 16px;
}

.submit-btn {
  display: block;
  width: 60%;
  margin: 30px auto 0 auto;
  margin-top: 30px;
  padding: 12px;
  color : #fff;
  background-color: #ff0000;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
    background: red;
}

.dropdown {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
}

summary {
    padding: 12px;
    cursor: pointer;
    list-style: none;
    font-size: 16px;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    content: "▾";
    float: right;
    font-size: 18px;
}

details[open] summary:after {
    content: "▴";
}

.dropdown-content {
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdown-content label {
    font-size: 15px;
}
/* END OF CHECKOUT A STYLING */


