:root {
    --mustard: #FFDE59;
    --red: #FF0000;
    --black: #000;
    --wine-red: #9A0404;
    --oswald: 'Oswald', sans-serif;
    --primary: #ec994b;
    --white: #ffffff;
}

/* Start of feederback */
.containerfeedback {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffcc00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  border: 2px solid #ffcc00;
  border-radius: 12px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 500px;
  height: 350px;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.star-rating {
  direction: rtl;
  display: inline-flex;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 35px;
  color: #ddd;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: red;
}

.star-rating input:checked ~ label {
  color: red;
}
/* End of feederback */