html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.login {
    display: flex;
    height: 100vh;
}

.separator {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.greetings {
    flex: 1;
    background-color: #FFDE59;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 50px;
    color: #000;
}

.greetings h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
}

.greetings p {
    font-size: 2em;
    line-height: 1.8;
}

.login-form {
    flex: 1;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 100%;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 150px;
    margin-bottom: 30px;
}

.login-form h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2em;
}

.login-form input {
    width: 100%;
    max-width: 600px;
    padding: 25px 45px;
    margin: 15px 0;
    font-size: 1.5em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    margin-bottom: 15px;
    width: 100%;
    max-width: 600px;
}

.login-form button {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #FF0000;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 25px;
    font-size: 1.5em;
    margin-top: 10px;
}

.signup-text {
    margin-top: 20px;
    font-size: 1.2em;
}

.signup-text a {
    color: red;
    text-decoration: none;
}
