* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: auto; 
}

html {
    scroll-behavior: smooth;
}

/* Color ": var(___);" */
:root {
    --mustard: #FFDE59;
    --red: #FF0000;
    --black: #000;
    --wine-red: #9A0404;
    --oswald: 'Oswald', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    background-color: var(--mustard);
    z-index: 1000;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: var(--red);
    font-size: 22px; 
    padding: 0 15px;
    font-family: var(--oswald);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 50px; 
}

.top {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 30px; 
    width: 100%; 
}

.arrow {
    height: 150px;
    cursor: pointer;
}

.left {
    transform: rotate(180deg);
}

.frame {
    width: 80vw;
    max-width: 800px;
    height: 500px; 
    max-height: 60vh;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.image {
    width: 80vw; 
    max-width: 800px;
    height: 500px;
    object-fit: cover;
}


/* MENU STYLING */
.menu {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;    
  padding: 40px;
  text-align: center;
  margin-left: 10%;
}

.menu h1 {
    padding-bottom: 1%;
}

.menulist {
  display: flex;
  justify-content: flex-start; 
  gap: 20px; 
  flex-wrap: wrap; 
}

.menu-container {
  display: flex;
  align-items: center;
  padding-bottom: 5%;
  gap: 20px;
  flex-direction: column;
  overflow: hidden;
  width: 260px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

.menu-container:hover {
  transform: scale(1.05);
  background-color: #FFA9A9;

}

.menu-image {
  width: 100%;
  height: 180px;
  background: #f4f7f8;
  border-radius: 0px;
  overflow: hidden;
}


.menu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center top; 
  transition: transform 0.4s ease;
}

.menu-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 15px;
}

.menu-description h3, .menu-description h2 {
    margin-top: -5%;
}

.menu-description h2 {
 font-weight: bold;
}
