* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: auto; 
}

html {
    scroll-behavior: smooth;
}

/* Color ": var(___);" */
:root {
    --mustard: #FFDE59;
    --red: #FF0000;
    --black: #000;
    --wine-red: #9A0404;
    --oswald: 'Oswald', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    background-color: var(--mustard);
    z-index: 1000;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: var(--red);
    font-size: 22px; 
    padding: 0 15px;
    font-family: var(--oswald);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 50px; 
}

.top {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 30px; 
    width: 100%; 
}

.arrow {
    height: 150px;
    cursor: pointer;
}

.left {
    transform: rotate(180deg);
}

.frame {
    width: 80vw;
    max-width: 800px;
    height: 500px; 
    max-height: 60vh;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.image {
    width: 80vw; 
    max-width: 800px;
    height: 500px;
    object-fit: cover;
}

/*footer ngani*/
.footer {
  background-color: #FFD733;
  color: #000;
  padding: 30px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  flex: 1 1 200px;
  min-width: 150px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 6px;
}

.footer-section ul li a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #E53935;
}

.social-icons {
  display: flex;
  gap: 5px;
  align-items: center;
}

.social-icons img {
  width: 30;
  height: 30px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding-top: 10px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}