*
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/* Color ": var(___);" */
:root {
    --mustard: #FFDE59;
    --red: #FF0000;
    --black: #000;
    --wine-red: #9A0404;
    --sans: sans-serif;
    --primary: #ec994b;
    --white: #ffffff;
}

html, body {
    display: block;
    padding: 0;
    margin: 0;
    height: auto; 
    overflow-x: hidden;
    font: var(--oswald);
}

html {
  scroll-behavior: smooth;
  font-family: "Oswald", sans-serif;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.alegreya-sans-regular {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}


/* HEADER STYLING */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    background-color: var(--mustard);
    z-index: 1000;
}

.logo {
  justify-content: center;
  padding-top: 20px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: var(--red);
    font-size: 22px; 
    padding: 0 15px;
    font-family: var(--oswald);
}

.header_button {
    position: relative;
    padding-bottom: 5px;
}

.header_button::after {
    color: var(--wine-red);
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 100%;
    left: 0;
    background-color: var(--red);
    transition: all 0.3s ease-in-out;
    transition-timing-function: ease-in-out;
    transform: scale(0);
}

.header_button:hover::after {
    transform: scale(1);
}

.ordernow_button {
    display: flex;
    align-items: center;
    gap: 8px; 
    background-color: var(--red);
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.ordernow_button.glow {
    box-shadow: 0 0 10px var(--red);
}

.my_cart {
width: 20px; 
height: 20px;
padding-right: 5px;
}

/* END OF HEADER STYLING */

/*branch locator*/

.branch-locator {
  margin-left: auto;
  margin-right: auto;
}

.header-text-branch {
  width: 890px; 
  max-width: 90%; 
  margin: 40px auto; 
  padding: auto;
  border-bottom: 1px solid var(--black);
  text-align: center;
  font-weight: bold;
}

.branch-locator-box {
  display: flex;
  align-items: center; 
  margin: 0 auto 30px auto;
  padding: 20px;
  flex-direction: row; 
  justify-content: space-between; 
  width: 850px; 
  max-width: 90%; 
  border-radius: 15px;
  box-shadow: 0 0 4px var(--black);
  border-style: solid;
  border-width: 2px;
  border-color: var(--black);
  margin-bottom: 30px;
}

.branch-container {
  margin: 40px;
}

.branch-locator-box:hover {
  border-color: var(--wine-red);
}

.branch-locator-box img {
  width: auto;
  height: 40px;
}

.branch-locator-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 70%;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--wine-red);
}

.branch-locator-text h2 {
  margin: 0;
  line-height: 1.2;
  font-size: 1.7rem;
  font-weight: bold;
}

.branch-locator-text h3 {
  margin-top: 0;
  line-height: 1.2;
  font-size: larger;
  font-weight: normal;
}

.hours h3 {
  margin: 0;
  margin-left: 0; 
  font-size: 1rem;
  font-weight: bold;
}

.btn-directions a{
  text-decoration: none;
  color: var(--wine-red);
}

.btn_branch {
  flex-direction: column;
  display: flex;
  gap: 10px; 
}

.btn-directions, .btn-order-now {
  padding: 10px 1px;
  border-radius: 20px; 
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  width: 250px; 
  text-decoration: none;
  text-align: center;
}

.btn-directions {
  background-color: var(--white);
  border: 2px solid var(--black);
  color: var(--black);
  text-decoration: none;
}

.btn-directions:hover {
  border-color: var(--wine-red);
}

.btn-order-now {
  background-color: var(--wine-red);
  border: none;
  color: var(--white);
}




.back-btn {
  flex-direction: column;
  display: flex;
  gap: 10px; 
  align-items: center;
  margin: 20px;
}

.btn-directions, .btn-order-now {
  padding: 10px 1px;
  border-radius: 20px; 
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  width: 250px; 
  text-decoration: none;
  text-align: center;
}

.btn-directions {
  background-color: var(--white);
  border: 2px solid var(--black);
  color: var(--black);
  text-decoration: none;
}

.btn-directions:hover {
  border-color: var(--wine-red);
}

.btn-order-now {
  background-color: var(--wine-red);
  border: none;
  color: var(--white);
}


/*slider ngani imma fix the names latur para di magmix mix mga names ng codes naten stay muna itech*/
.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

#tranding {
  padding: 2rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 2rem 0;
  }
}

#tranding .tranding-slider {
  height: 35rem;
  padding: 1rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 70rem;
  height: 30rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 70rem !important;
    height: 30rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 70rem !important;
    height: 30rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 70rem;
  height: 30rem;
  border-radius: 0rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-prev, .swiper-button-next {
  z-index: 1000;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 0rem;
  z-index: 10;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--mustard);
}

/* WELCOME BOX STYLING */

.welcome-box {
  display: flex;
  align-items: center;
  background-color: var(--red);
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo-welcome-box {
  padding: 60px;
  padding-left: 80;
}

.logo-welcome-box img {
  width: auto;
  height: 350px;
}

.text-welcome-box {
  font-size: x-large;
  padding-right: 80px;
  color: var(--white);
}

.text-welcome-box h1 {
  font-weight: 600;
  color: #ffffff;
  font-size: x-large;
}

.text-welcome-box p {
  font-family: "Alegreya Sans", sans-serif;
  color: #ffffff;
}

/* END OF WELCOME BOX STYLING */


/*START OF FAQ SECTION*/
.FAQS {
    width: 100%;
    max-width: 1130px;
    margin: 5rem auto;
    padding: 0 2rem;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1.5rem;
  color: #000;
}

.faq {
    border-bottom: 2px solid black;
    padding: 1rem 0;
    cursor: pointer;
    transition: background 0.2s ease;
}

.faq:hover {
    background: rgba(0, 0, 0, 0.03);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  font-family: "Alegreya Sans", sans-serif;
}

.question h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #111;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  font-family: "Alegreya Sans", sans-serif;
}

.answer p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  padding-top: 0;
  color: #000000;
}

.faq.active .answer {
  max-height: 1000px;
}

.faq svg {
  width: 25px;
  height: 16px;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.faq.active svg {
  transform: rotate(180deg);
}

/*END OF FAQ SECTION*/

/*footer ngani*/
.footer {
  background-color: #FFD733;
  color: #000;
  padding: 50px 0 20px;
  font-size: 18px;
  width: 100%;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  text-align: left;
}

.footer-logo {
  display: block;
  margin-bottom: 10px;
  margin-right: 60px;
}

.footer-info,
.footer-links,
.footer-section,
.footer-logo {
  flex: 1 1 250px;
  min-width: 200px;
}

.footer-info h4,
.footer-links h4,
.footer-section h4 {
  font-size: 22px !important;
  font-weight: bold;
  margin-bottom: 14px;
  line-height: 1.2;
  font-family: "Oswald", sans-serif;
}

.footer-logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-info ul,
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

.footer-info ul li,
.footer-links ul li {
  margin-bottom: 8px;
}

.footer-info ul li a,
.footer-links ul li a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-info ul li a:hover,
.footer-links ul li a:hover {
  color: #E53935;
}

.footer-section p {
  margin: 0 0 10px 0;
  font-family: "Alegreya Sans", sans-serif;
}
.social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding-top: 15px;
  font-family: "Oswald", sans-serif;
}

/* End of footer ngani */














/* About Section */
.about {
  margin: 50px auto;
  max-width: 1300px;
  padding: 20px;
}

.about-logo {
  width: 225px;
  display: block;
  margin: 0 auto 20px;
}

.about h1 {
  text-align: center;
  color: black;
  font-size: 35px;
  margin-bottom: 30px;
  font-family: 'Oswald', sans-serif;
}

.red {
  color: red;
}

hr {
  border: none;
  height: 2px;
  background: #ccc;
  margin: 20px 0;
}

.background {
  display: flex;
  align-items: center;
  gap: 20px;
}

.background img {
  width: 340px;
  border-radius: 10px;
  padding-top: 30px;
}

.background p {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.75rem;
}

.vm-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.mission,
.vision {
  flex: 1;
  text-align: center;
}

.vm-container h2 {
  margin-top: 100px;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
}

.vm-container p {
  line-height: 1.4;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.6rem;
}

/* End of About Section */

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  gap: 10px;
}

.contact input,
.contact textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: inherit;
}

.contact h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanks {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* MAIN CHECKOUT */
.checkout-container {
  width: 80%;
  margin: 40px auto;
}
.checkout-container h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

/* Branch Info */
.branch-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.branch-info h3, .branch-info h4 {
  margin-bottom: 5px;
}

/* Cheykout */
.checkout-container {
  width: 80%;
  margin: 40px auto;
}
.checkout-container h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.branch-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.branch-info h3, .branch-info h4 {
  margin-bottom: 5px;
}

.checkout-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.checkout-form label {
  font-weight: bold;
  margin-top: 10px;
}
.checkout-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.checkout-form span {
  color: red;
}

.payment-methods {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.method {
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.card_pay {
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}


.method:hover {
  border-color: #ffcc00;
  background-color: #fff7d1;
}
.method img {
  height: 40px;
  margin-bottom: 10px;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}
/* End of Cheykout */


/*Disclaimer Overlay*/
.disclaimer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
}

.disclaimer.active {
  visibility: visible;
  opacity: 1;
}

.disclaimer h1 {
  font-family: 'Oswald', sans-serif;
  margin-top: 2.5rem;
}

.disclaimer p {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.2rem;
}

.overlay {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  position: relative;
}

.overlay-logo {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 0px;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  background: #ff4d4d;
  color: white;
  border-radius: 3rem;
  cursor: pointer;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.2rem;
}

button:hover {
  background: #e23c3c;
}
/*disclaimer*/


/* Start of feederback */
.containerfeedback {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffcc00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  border: 2px solid #ffcc00;
  border-radius: 12px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 500px;
  height: 350px;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.star-rating {
  direction: rtl;
  display: inline-flex;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 35px;
  color: #ddd;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: red;
}

.star-rating input:checked ~ label {
  color: red;
}
/* End of feederback */